body {
	margin: 0 auto;
	color: seashell;
	background-color: black;
	font-size: 22px;
	font-family: Helvetica;
	opacity: 0.9;
}

.corner-logo {
	height: 50px;
	margin: 10px;
	float: left;
}

.header {
	position: fixed;
	height: 69px;
	border-bottom: 1px solid seashell;
	margin-bottom: 0px;
	background-color: black;
	width: 100%;
}

.navbar {
	float: right;
	height: 69px;
	padding-top: 22px;
	display: flex;
	justify-content: space-between;
	width: 25%;
	margin-right: 10px
}

.navbar span {
	text-decoration: underline;
}

.banner-image {
	width: 1200px;
	height: 700px;
	margin: 0 auto;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
	background-repeat: no-repeat;
	text-align: center;
}

.banner-text {
	padding: 2px;
	background-color: black;
	margin: 0 auto;
}

.tea-of-the-month {
	margin: 0 auto;
}
